<div class="deadpool-container">
  <div class="deadpool-card">
    <h1>¡Wade Wilson Reportándose!</h1>
    
    <img src="icon/deadpool-saludando.jpg" alt="Deadpool saludando" class="deadpool-image">
    
    <p class="deadpool-message">
      ¡Hey, tú! Sí, tú, el que está detrás de la pantalla. ¿Creíste que no te encontraría aquí?
      ¡Bienvenido a este pedacito de mi universo! <br>No hagas desastres... a menos que sea divertido. 😉
    </p>

    <button (click)="goBack()" class="deadpool-button">Volver a los aburridos archivos de S.H.I.E.L.D.</button>
  </div>
</div>